In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("CART_algorithm.csv")
df

       Age    Job House     Credit Loan Approved
0    Young  False    No       Fair            No
1    Young  False    No       Good            No
2    Young   True    No       Good           Yes
3    Young   True   Yes       Fair           Yes
4    Young  False    No       Fair            No
5   Middle  False    No       Fair            No
6   Middle  False    No       Good            No
7   Middle   True   Yes       Good           Yes
8   Middle  False   Yes  Excellent           Yes
9   Middle  False   Yes  Excellent           Yes
10     Old  False   Yes  Excellent           Yes
11     Old  False   Yes       Good           Yes
12     Old   True    No       Good           Yes
13     Old   True    No  Excellent           Yes
14     Old  False    No       Fair            No

In [13]:
from sklearn.preprocessing import LabelEncoder

In [15]:
a = LabelEncoder()
a.fit(df["Age"])
print("\nEncoded Classes for Column AGE",a.classes_)
print("Encoded Labels for Column AGE  ",a.transform(a.classes_))

Encoded Classes for Column AGE ['Middle' 'Old' 'Young']
Encoded Labels for Column AGE   [0 1 2]

In [16]:
b = LabelEncoder()
b.fit(df["Job"])
print("\nEncoded Classes for Column JOB",b.classes_)
print("Encoded Labels for Column JOB ",b.transform(b.classes_))

Encoded Classes for Column JOB [False  True]
Encoded Labels for Column JOB  [0 1]

In [17]:
c= LabelEncoder()
c.fit(df["House"])
print("\nEncoded Classes for Column HOUSE",c.classes_)
print("Encoded Labels for Column HOUSE ",c.transform(c.classes_))

Encoded Classes for Column HOUSE ['No' 'Yes']
Encoded Labels for Column HOUSE  [0 1]

In [18]:
d = LabelEncoder()
d.fit(df["Credit"])
print("\nEncoded Classes for Column CREDIT",d.classes_)
print("Encoded Labels for Column CREDIT ",d.transform(d.classes_))

Encoded Classes for Column CREDIT ['Excellent' 'Fair' 'Good']
Encoded Labels for Column CREDIT  [0 1 2]

In [19]:
x = {"Age":a.transform(df["Age"]),"Job":b.transform(df["Job"]),"House":c.transform(df["House"]),"Credit":d.transform(df["Credit"])}

In [20]:
x = pd.DataFrame(x)
print("\nThe encoded dataset is\n",x)

The encoded dataset is
     Age  Job  House  Credit
0     2    0      0       1
1     2    0      0       2
2     2    1      0       2
3     2    1      1       1
4     2    0      0       1
5     0    0      0       1
6     0    0      0       2
7     0    1      1       2
8     0    0      1       0
9     0    0      1       0
10    1    0      1       0
11    1    0      1       2
12    1    1      0       2
13    1    1      0       0
14    1    0      0       1

In [21]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion="gini")
model.fit(x,df["Loan Approved"])

DecisionTreeClassifier()

In [22]:
y=np.array([a.transform(["Young"]),b.transform([False]),c.transform(["No"]),d.transform(["Good"])]).reshape(1,-1)

In [23]:
print("\nThe test case is Age=Young, Job=False, House=no, Credit=Good")

The test case is Age=Young, Job=False, House=no, Credit=Good

In [24]:
print("\nThe encoded form of the test case is",y)

The encoded form of the test case is [[2 0 0 2]]

In [25]:
print("\nThe predicted value for the test case is ",model.
predict(y))

The predicted value for the test case is  ['No']