In [1]:
import pandas
from sklearn import linear_model

df = pandas.read_csv("Linear Regression Multiple Variables.csv")

df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [2]:
df1 = df.fillna(df.mean())
df1

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.2   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
X = df1[['area','bedrooms','age']]
y = df1['price']

print('X\n',X)
print('y\n',y)

X
    area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.2   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8
y
 0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [4]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [5]:
#predict the price of the house that has,3000 sqr ft area, 3 bedrooms, 40 year old:
predictedprice1 = regr.predict([[3000, 3, 40]])

print("Prediction for 3000 sqr ft area, 3 bedrooms, 40 year old:",predictedprice1)

Prediction for 3000 sqr ft area, 3 bedrooms, 40 year old: [490833.34243748]

In [6]:
#predict the price of the house that has ,2500 sqr ft area, 4 bedrooms, 5 year old:-
predictedprice12 = regr.predict([[2500, 4, 5]])

print("Prediction of house for 2500 sqr ft area, 4 bedrooms, 5 year old:",predictedprice12)

Prediction of house for 2500 sqr ft area, 4 bedrooms, 5 year old: [579906.16685223]